@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Scada", sans-serif;
  background: #ffcc00;
  font-size: 10px;
}

a {
  text-decoration: none;
}

header a {
  color: black;
}

header {
  width: 100%;
  background: #00000020;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.menu-toggle {
  margin: 2.5rem;
  text-align: right;
  font-size: 3rem;
  cursor: pointer;
  z-index: 10;
  display: none;
  padding: 0 0.5rem;
}

.menu-toggle a {
  color: crimson;
}

nav {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}

.logo {
  width: 60px;
  -webkit-transform: translateX(-100rem);
          transform: translateX(-100rem);
  -webkit-animation: slideIn 0.5s forwards;
          animation: slideIn 0.5s forwards;
}

.call_span {
  letter-spacing: 1.5px;
  padding: 1rem 0;
  position: relative;
  display: inline-block;
}

.blinking {
  -webkit-animation: blinkingText 5s infinite;
          animation: blinkingText 5s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes blinkingText {
  0% {
    color: #000;
  }
  45% {
    color: #000;
  }
  48% {
    color: crimson;
  }
  50% {
    color: #000;
  }
  60% {
    color: #000;
  }
  63% {
    color: crimson;
  }
  65% {
    color: #000;
  }
  100% {
    color: #000;
  }
}

@keyframes blinkingText {
  0% {
    color: #000;
  }
  45% {
    color: #000;
  }
  48% {
    color: crimson;
  }
  50% {
    color: #000;
  }
  60% {
    color: #000;
  }
  63% {
    color: crimson;
  }
  65% {
    color: #000;
  }
  100% {
    color: #000;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style: none;
  -webkit-transform: translateX(100rem);
          transform: translateX(100rem);
  -webkit-animation: slideIn 0.5s forwards;
          animation: slideIn 0.5s forwards;
}

nav ul li:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

nav ul li:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

nav ul li:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after,
.call::before,
.call::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav ul li a::before,
.call::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav ul li a::after,
.call::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: opacity 650ms;
  transition: opacity 650ms;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after,
.call:hover::before,
.call:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@-webkit-keyframes slideIn {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  margin: 2em auto 1em auto;
}

.subhead {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 5rem;
}

.parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.parent .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 1 / 1 / 2 / 6;
}

.parent .div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 1 / 6 / 2 / 11;
}

.parent .div3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 2 / 2 / 3 / 7;
}

.parent .div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: 2 / 7 / 3 / 12;
}

.parent .div5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 3 / 1 / 4 / 6;
}

.parent .div6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 3 / 6 / 4 / 11;
}

.parent .div7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 4 / 2 / 5 / 7;
}

.parent .div8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: 4 / 7 / 5 / 12;
}

.parent .div9 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 5 / 1 / 6 / 6;
}

.parent .div10 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 5 / 6 / 6 / 11;
}

.parent .div11 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 6 / 2 / 7 / 7;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9,
.div10,
.div11 {
  background-color: #000;
  width: 486px;
  height: 195px;
  border-radius: 12px;
}

.glossy-frame:before {
  content: "";
  position: absolute;
  width: 170%;
  height: 165%;
  top: -15%;
  right: -5%;
  background: rgba(255, 255, 255, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.05)));
  background: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
  border-bottom-left-radius: 200px 20px;
  border-bottom-right-radius: 200px 10px;
  border-top-right-radius: 5px 100px;
}

.glossy-frame {
  position: relative;
  overflow: hidden;
  height: 195px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_pic1,
.card_pic2,
.card_pic3,
.card_pic4,
.card_pic5,
.card_pic6,
.card_pic7,
.card_pic8,
.card_pic9,
.card_pic10,
.card_pic11 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 35%;
  margin: 2rem;
  border-radius: 10px;
  z-index: 5;
}

.card_pic1 {
  background-image: url("../images/car1.jpg");
}

.card_pic2 {
  background-image: url("../images/car2.jpg");
}

.card_pic3 {
  background-image: url("../images/car3.jpg");
}

.card_pic4 {
  background-image: url("../images/car4.jpg");
}

.card_pic5 {
  background-image: url("../images/car5.jpg");
}

.card_pic6 {
  background-image: url("../images/car6.jpg");
}

.card_pic7 {
  background-image: url("../images/car7.jpg");
}

.card_pic8 {
  background-image: url("../images/car8.jpg");
}

.card_pic9 {
  background-image: url("../images/car9.jpg");
}

.card_pic10 {
  background-image: url("../images/car10.jpg");
}

.card_pic11 {
  background-image: url("../images/car11.jpg");
}

.card_content {
  width: 55%;
  color: antiquewhite;
  padding: 1rem;
}

.card_content h2 {
  color: #ffcc00;
  text-transform: uppercase;
  font-size: 1.9rem;
  padding-top: 1rem;
  text-align: center;
}

.card_content p {
  font-size: 1.3rem;
  padding: 1rem 0.5rem;
  line-height: 2rem;
  text-align: center;
}

.foot {
  margin-top: 8rem;
  padding-top: 30px;
  font-size: 1.5rem;
  text-align: center;
  height: 80px;
  background: #00000020;
  width: 100%;
}

.contact-form {
  margin: 3rem auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 85%;
  max-width: 800px;
  background: #f1f1f1;
  padding: 30px 40px;
  border-radius: 8px;
  text-align: center;
  font-family: "Scada", sans-serif;
}

.contact-form h1 {
  margin-top: 0;
}

.txtb {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input,
.txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.btn {
  display: inline-block;
  background: #000;
  padding: 14px 0;
  font-size: 2.1rem;
  color: #ffcc00;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
  border-radius: 8px;
  font-family: "Scada", sans-serif;
}

textarea {
  font-family: "Scada", sans-serif;
  resize: none;
}

.red {
  color: crimson;
}

@media screen and (max-width: 1332px) {
  .parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7,
  .div8,
  .div9,
  .div10,
  .div11 {
    width: 542.66px;
    height: 195px;
    margin: 1rem auto;
  }
}

@media screen and (max-width: 750px) {
  .menu-toggle {
    display: block;
  }
  .call_span {
    margin-top: 5rem;
  }
  .call {
    font-size: 2rem;
  }
  nav {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul li {
    margin-top: 5rem;
  }
  nav ul li a {
    margin: 0;
    font-size: 2rem;
  }
  .overlay.menu-open,
  nav.menu-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7,
  .div8,
  .div9,
  .div10,
  .div11 {
    min-width: 390px;
    margin-top: 1rem 0;
  }
}
/*# sourceMappingURL=main.css.map */